[Desktop Entry]
Name=Smile
Comment=Smile file
Exec=/opt/Smile/Smile
Icon=static/icons/Smile/Smile_icon.png
Terminal=false
Type=Application
Categories=Utility;
