[Desktop Entry]
Name=Slime
Comment=Slime file
Exec=/opt/Slime/Slime
Icon=static/icons/Slime/Smile_icon.png
Terminal=false
Type=Application
Categories=Utility;
