#OpenWith-Elment {
    background-color: #fff;
    border-radius: 10px;
    width: 50vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 5vh 1fr 5vh;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}

#OpenWith-Elment h2 {
    margin: 0;
    padding: 0;
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
}
#OpenWith-Elment div.fileName{
    display: flex;
    align-items: center;
    justify-content: center;
}
#OpenWith-Elment div.head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}


#OpenWith-Elment div.Apps{
    grid-row: 3;
    width: 100%;
    height: 100%;
    padding: 2vw 5vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}


#OpenWith-Elment div.Apps .Item{
    text-align: start;
    width: 100%;
    display: grid;
    grid-template-columns: 5vh 1fr;
    height: 5vh;
    position: relative;
    margin: 1vh 0;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    gap: 1vh;
}
#OpenWith-Elment div.Apps .Item:hover, #OpenWith-Elment div.Apps .Item.Selected{
    background-color: #D9D8DB;
    
}
#OpenWith-Elment div.Apps .Item img{
    max-height: 4vh;
    max-width: 4vh;
    height: 4vh;
}
























@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    #OpenWith-Elment input[type=checkbox]{
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      box-sizing: inherit;
    }
    #OpenWith-Elment input[type=checkbox]:after{
        box-sizing: inherit;
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    #OpenWith-Elment input[type=checkbox]:checked{
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    #OpenWith-Elment input[type=checkbox]:disabled{
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    #OpenWith-Elment input[type=checkbox]:disabled:checked{
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    #OpenWith-Elment input[type=checkbox]:disabled + label{
      cursor: not-allowed;
      box-sizing: inherit;
    }
    #OpenWith-Elment input[type=checkbox]:hover:not(:checked):not(:disabled){
      --bc: var(--border-hover);
    }
    #OpenWith-Elment input[type=checkbox]:focus{
      box-shadow: 0 0 0 var(--focus);
    }
    

    #OpenWith-Elment input[type=checkbox] + label{
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    
      #OpenWith-Elment input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    #OpenWith-Elment input[type=checkbox].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    #OpenWith-Elment input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    #OpenWith-Elment input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  
  }
  #OpenWith-Elment  .Default{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding: 0 1vw;
    box-sizing: border-box;
}

#OpenWith-Elment  .Default label{
    margin-right: 1vw;
    font-size: x-large;
}